<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
<persistence-unit name="MAYM_WEB_EMPRESAS_PU" transaction-type="JTA">
    <jta-data-source>java:/datasources/Empresas_MAYM</jta-data-source>
    <class>com.dperez.maymweb.persistencia.Empresa</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
  <persistence-unit name="MAYM-Web-Datos" transaction-type="JTA">      
    <class>com.dperez.maymweb.accion.Accion</class>
    <class>com.dperez.maymweb.accion.acciones.Correctiva</class>
    <class>com.dperez.maymweb.accion.acciones.Mejora</class>
    <class>com.dperez.maymweb.accion.acciones.Preventiva</class>
    <class>com.dperez.maymweb.accion.adjunto.Adjunto</class>
    <class>com.dperez.maymweb.accion.medida.Medida</class>
    <class>com.dperez.maymweb.area.Area</class>
    <class>com.dperez.maymweb.codificacion.Codificacion</class>
    <class>com.dperez.maymweb.deteccion.Deteccion</class>
    <class>com.dperez.maymweb.deteccion.TipoDeteccion</class>
    <class>com.dperez.maymweb.estado.Estado</class>
    <class>com.dperez.maymweb.fortaleza.Fortaleza</class>
    <class>com.dperez.maymweb.producto.Producto</class>
    <class>com.dperez.maymweb.usuario.Credencial</class>
    <class>com.dperez.maymweb.usuario.Usuario</class>
    <class>com.dperez.maymweb.usuario.permiso.Permiso</class>
    <class>com.dperez.maymweb.persistencia.Empresa</class>
    <class>com.dperez.maymweb.accion.medida.medidas.ActividadMejora</class>
    <class>com.dperez.maymweb.accion.medida.medidas.ActividadPreventiva</class>
    <class>com.dperez.maymweb.accion.medida.medidas.MedidaCorrectiva</class>
    <class>com.dperez.maymweb.accion.medida.medidas.MedidaPreventiva</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>