<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="MAYM-Web-Datos" transaction-type="RESOURCE_LOCAL">
    <class>com.dperez.maymweb.accion.Accion</class>
    <class>com.dperez.maymweb.accion.acciones.Correctiva</class>
    <class>com.dperez.maymweb.accion.acciones.Mejora</class>
    <class>com.dperez.maymweb.accion.acciones.Preventiva</class>
    <class>com.dperez.maymweb.accion.adjunto.Adjunto</class>
    <class>com.dperez.maymweb.accion.medida.Medida</class>
    <class>com.dperez.maymweb.area.Area</class>
    <class>com.dperez.maymweb.codificacion.Codificacion</class>
    <class>com.dperez.maymweb.fortaleza.Fortaleza</class>
    <class>com.dperez.maymweb.producto.Producto</class>
    <class>com.dperez.maymweb.usuario.Credencial</class>
    <class>com.dperez.maymweb.usuario.Usuario</class>
    <class>com.dperez.maymweb.persistencia.Empresa</class>
    <class>com.dperez.maymweb.accion.medida.medidas.ActividadMejora</class>
    <class>com.dperez.maymweb.accion.medida.medidas.ActividadPreventiva</class>
    <class>com.dperez.maymweb.accion.medida.medidas.MedidaCorrectiva</class>
    <class>com.dperez.maymweb.accion.medida.medidas.MedidaPreventiva</class>
    <class>com.dperez.maymweb.accion.Comprobacion</class>
    <class>com.dperez.maymweb.deteccion.Deteccion</class>
    <class>com.dperez.maymweb.deteccion.TipoDeteccion</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
    </properties>
  </persistence-unit>
</persistence>
